.work {
  padding-top: 90px;
  padding-bottom: 80px;

  @media(max-width: $r_mob_500) {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    counter-reset: number 0;
  }

  &__item {
    border-top: 1px solid $dark-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin-top: -1px;
    padding-top: 30px;
    padding-bottom: 29px;

    @media(max-width: $r_mob_500) {
      grid-template-columns: 155px 1fr;
      align-items: start;
      gap: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__caption {
    font-size: 28px;
    counter-increment: number;

    @media(max-width: $r_desk) {
      font-size: 18px;
    }

    &::before {
      content: "0"counter(number);
      margin-right: 40px;
      font-weight: 400;
      font-size: 28px;

      @media(max-width: $r_desk) {
        font-size: 18px;
      }

      @media(max-width: $r_tab) {
        margin-right: 20px;
        font-size: 16px;
      }

      @media(max-width: $r_mob_500) {
        margin-right: 9px;
      }
    }

    @media(max-width: $r_tab_900) {
      font-size: 18px;
    }

    @media(max-width: $r_tab) {
      font-size: 16px;
    }
  }

  &__descr {
    font-size: 16px;

    @media(max-width: $r_tab_900) {
      font-size: 14px;
    }

    @media(max-width: $r_mob_500) {
      font-size: 12px;
    }
  }
}